<h1 class="center"><%= "Category :" +  @category.name %> </h1>

<% if logged_in? and current_user.admin? %>
  <div class= "center row" style="padding-bottom:10px;">
    <span class="badge"><%= link_to 'Edit this Category', edit_category_path(@category) %></span>
  </div>
<% end %>

<div align="center">
<%= will_paginate @category_articles %>
</div>



<%= render 'layouts/articles', obj: @category_articles %>  
              
<div align="center">
<%= will_paginate @category_articles %>
</div>